{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "react-hooks/exhaustive-deps": 0,
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "windows"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "newline-before-return": "error"
  }
}
